
.App {
  text-align: center;
}



.App-logo {
  pointer-events: none;
  width: 160px;
  height: 160px;
  position: absolute;
  top: 20px;
  left: 20px;
}

a {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #229ef9;
    cursor: pointer;
}

.Thought > iframe {
    margin-top: 7px;
}


.App-thoughts {
  text-align:left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: #474645;
  width: calc(100% - 200px);
  position: absolute;
  left: 200px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.App-navbar {
  min-height: 100vh;
  font-size: calc(3px + 2vmin);
  font-weight: bold;
  color: #db9e5f;
  width: 200px;
  position: fixed;
  left: 0px;
}

.App-link {
  color: #61dafb;
}

.Navbar-tools {
  position: absolute;
  top: 240px;
  height: calc(100% - 240px);
}

.Navbar-settings {
  position: absolute;
  top: 200px;
  left: 20px;
  width: 150px;
  height: 20px;
  text-align: left;
  padding: 10px 10px 10px 0px;
}

.Navbar-settings > i {
    margin-right: 10px;
  }
  
.Navbar-settings > i:hover {
    cursor: pointer;
}

.setting {
  margin-right: 5px;
}

.Btn {
  height: 40px;
  line-height: 36px;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.Think {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 160px;
  background-color: #f79c13;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: #d7be30;/* this is placeholder color*/
}

.modalMarkdown {
  position: absolute;
  top: 70px;
  padding: 10px;
  height: calc(100% - 180px);
  width: calc(100% - 60px);
  text-align: left;
  outline: none;
  background: #fcff7b;
  color: #49657c;
  overflow: auto;
}

.folderName {
    position: absolute;
    top: 70px;
    left: 20px;
    border: none;
    padding: 10px;
    width: calc(100% - 60px);
    text-align: left;
    outline: none;
    background: #fcff7b;
    color: #49657c;
    overflow: auto;
}

.dissabled {
  pointer-events: none;
  opacity: 0.5;  
}

.Modal-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: calc(100% - 40px);
    height: 40px;
}

.comment {
    color: #d7be30;
    user-select: none;
}

.Cancel {
  position: relative;
  bottom: 0px;
  margin-right: 10px;
  width: 100px;
  background-color: #f72213;
}

.Ok {
  position: relative;
  bottom: 0px;
  margin-left: 10px;
  width: 100px;
  background-color: #3ddb15;
}

.Edit {
  position: relative;
  bottom: 0px;
  margin-left: 10px;
  width: 100px;
  background-color: #2d76ff;
}

.MDGuide {
    position: relative;
    bottom: 0px;
    margin-right: 20px;
    width: 220px;
    color: #2d76ff;
    background: none;
  }
  
.Back {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100px;
    color: #f72213;
    background: none;
}

.Sort {
  position: absolute;
  bottom: 80px;
  left: 20px;
  width:160px;
  height: calc(100% - 100px);
  text-align: left;
  line-height: 32px;
  overflow-y: scroll;
}


.Modal-case {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Modal-BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c1b8b8ad;
}

.Modal-content {
  position: absolute;
  padding: 20px;
  width: 460px;
  height: calc(100% - 80px);
  top: 20px;
  left: 50%;
  margin-left: -250px;
}

.Thought{
  padding: 10px 70px 30px 70px;
  width: calc(100% - 140px);
  position: relative;
  right: 10px;
  border-radius: 13px;
}

.Thought:hover{
    background-color:rgba(244, 244, 255, 0.03);
}

#light > header > div:hover {
    background-color:rgba(44, 44, 0, 0.07);
}

.Thought > p {
  margin-top:0px;
}
.Thought > pre {
  font-size: 10px;
  filter: hue-rotate(140deg)saturate(3.5);
}

.Thought:hover > .opt {
  display: block;
}

.opt {
  display: none;
}

.x{
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.x:hover{
  color: #ff2d2d!important;
}

.e{
  position: absolute;
  top: 10px;
  right: 35px;
  cursor: pointer;
}

.e:hover{
  color: #2d76ff;
}

.u{
  position: absolute;
  top: 10px;
  left: 15px;
  height: 11px;
  cursor: pointer;
}


.d{
  position: absolute;
  top: 20px;
  left: 15px;
  height: 11px;
  cursor: pointer;
}

.u:hover,.d:hover,.e:hover{
  color: #2d76ff!important;
}


#root > div > header > div:nth-child(1) > div.opt.u {
  pointer-events: none;
}

#root > div > header > div:last-child > div.opt.d {
  pointer-events: none;
}


pre {
  white-space: pre-wrap;
}

.subject {
  cursor: pointer;
}

.isSubject {
  color: #d35857;
}


#light .App-thoughts {
  background-color: #f6f4f2;
}

#dark .App-thoughts {
  background-color: #2a2727;
  color-scheme: dark; 
}

#light .App-navbar {
  background-color: #f6f4f2;
}

#dark .App-navbar {
  background-color: #2a2727;
  color-scheme: dark;
}


#dark .App-thoughts > .Thought > p > a {
  color: #6ccfff;
}

#dark .App-thoughts > .Thought > p {
  color: #a59c9c;
}

#dark .App-thoughts > .Thought > div.opt {
  color: #0c0c0c;
}

#light .App-thoughts > .Thought > div.opt {
  color: #d7cece;
}

#light > .App-navbar > .Navbar-settings > .setTheme {
  color: #ffc94d;
}

#light > .App-navbar > .Navbar-settings > .setTheme:hover {
    color: #4c7183;
  }

#dark > .App-navbar > .Navbar-settings > .setTheme {
  color: #4c7183;
}

#dark > .App-navbar > .Navbar-settings > .setTheme:hover {
    color: #ffc94d;
  }

#light > .Modal-case > .Modal-content {
  background-color: #ffffff;
}

#dark > .Modal-case > .Modal-content {
  background-color: #2a2727;
}

.Modal-content.error > div.Modal-footer > button.Btn.Ok,
.Modal-content.error > div.Modal-footer > button.Btn.Edit {
    pointer-events: none;
    opacity: 0.5;  
}

.Modal-content.error > input {
    color: #ff0000;
}

.Modal-content.forinput {
    top: 50%;
    height: 160px;
    margin-top: -80px;
}
